
html {
    height: 100%;
    
}
body {
    height: 100%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.wrapper {
    box-shadow: 1px -5px 25px hsl(0, 0%, 63%);
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    max-width: 637px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/
}
.title {
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(179, 62%, 43%);
    margin-bottom: 30px;
}
.white-block {
    box-sizing: border-box;
    font-size: 0.95rem;
    padding: 45px 80px 45px 40px;
    color: hsl(0, 0%, 63%);
    
}
.color-block {
    padding: 45px 40px;
    box-sizing: border-box;
    width: 50%;
    background-color: hsl(179, 62%, 43%);
}
.light-color-block {
    box-sizing: border-box;
    padding: 45px 40px;
    width: 50%;
    background-color: hsl(179, 61%, 60%);
}
.white-block .secondarytitle {
    margin-bottom: 20px;
    color: hsl(71, 73%, 54%);
}
.secondarytitle {
    margin-bottom: 23px;
    font-size: 1.1rem;
    font-weight: 700;
}
.text {
    line-height: 20px;
}
.dignity {
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 100;
    color: hsl(181, 35%, 80%);
}
.dignity:last-child {
    margin-bottom: 0px;
}
.color-block .text {
    line-height: 30px;
}
.pariod {
    color: hsl(179, 62%, 70%);
}
.price {
    margin-right: 10px;
    font-weight: 700;
    font-size: 2rem;
}
.btn {
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: hsl(71, 73%, 54%);
    margin-top: 30px;
    padding: 20px 90px 20px 90px;
    letter-spacing: 1px;
    box-shadow: -1px -1px 2px hsl(116, 52%, 63%);
    /*не знаю как сделать ту тень, она снизу сбоку и сверху, может то просто бордер?Как понять что то тень?*/
}

@media screen and (max-width: 500px) {
    .wrapper {
        flex-direction: column;
        max-width: 311px;
    }
    .color-block {
        width: 100%;
        padding: 30px 25px 40px 25px;

    }
    .light-color-block {
        width: 100%;
        padding: 30px 25px 40px 25px;
    }
    .white-block {
        font-size: 0.85rem;
        padding: 30px 25px 40px 25px;
    }
    .secondarytitle {
        font-size: 0.91rem;
    }
    .light-color-block .text {
        font-size: 0.85rem;
    }
    .color-block .text {
        line-height: 30px;
    }
    .btn {
        font-size: 14px;
        padding: 20px 101px 20px 101px;
    }
}
